@import '../../components/UI/variables.scss';

.About {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: $feta;

  h2 {
    position: relative;
    margin-bottom: 30px;
    color: $temptress;
  }

  h2:after {
    content: '';
    display: block;
    height: 2px;
    background: $temptress;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
  }

  p {
    color: $temptress;
    margin-bottom: 20px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.content {
  display: grid;
  place-items: center;
}
