.BurgerMenu {
  position: absolute;
  top: -180%;
  height: 10vh;
  left: 0;
  right: 0;
  z-index: -50;
  overflow: auto;
  background: linear-gradient(85deg, #e55d87 0%, #5fc3e4 100%);
  transition: all 0.8s cubic-bezier(0, 0.55, 0.45, 1);

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  ul > li {
    transform: scale(1);
    padding: 0;
    transition: all 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  }
}

.BurgerMenuActive {
  position: absolute;
  top: 50px;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -50;
  overflow: auto;
  background: linear-gradient(85deg, #e55d87 0%, #5fc3e4 100%);
  transition: all 0.8s cubic-bezier(0, 0.55, 0.45, 1);

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  ul > li {
    transform: scale(1.2);
    padding: 15px 0;
    transition: all 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  }
}

@media screen and (min-width: 767px) {
  .BurgerMenu {
    display: none;
  }

  .BurgerMenuActive {
    display: none;
  }
}
