.MainMenu {
  padding: 0 15px;
  height: 25px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul > li {
    padding: 0 6px;
  }

  .blur {
  }
}

@media screen and (max-width: 767px) {
  .MainMenu {
    display: none;
  }
}
