.monday {
  display: none;
}
.tuesday {
  display: none;
}
.wednesday {
  display: none;
}
.thursday {
  display: none;
}
.friday {
  display: none;
}
.saturday {
  display: none;
}

.sunday {
  display: none;
}

.emptyMonday {
  display: none;
}

.emptyTuesday {
  display: none;
}

.emptyWednesday {
  display: none;
}

.emptyThursday {
  display: none;
}

.emptyFriday {
  display: none;
}

.emptySaturday {
  display: none;
}

// .onlySunday {
//   display: none;
// }
