@import '../UI//variables.scss';

.TimeTableMonth {
  position: relative;
  opacity: 0.95;
  background: linear-gradient(90deg, #faf0cd, #fab397);
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;

  transition: all 1s ease-in;

  caption {
    background: linear-gradient(90deg, #faf0cd, #fab397);
    text-transform: uppercase;
    padding: 15px;
  }

  th {
    padding: 6px;
  }

  td {
    border: 1px solid #e55d87;
  }

  a {
    color: $armadillo;
    font-weight: bold;
    transition: color 0.2s ease-in;
  }

  a:hover {
    color: $feta;
  }

  // hr {
  //   height: 1px;
  //   width: 100%;

  //   background-color: #e55d87;
  // }

  .oneTrain {
    display: grid;
    place-items: center;
    padding: 6px;
    height: 100px;
    border-bottom: 1px solid #e55d87;
    background: none;
    transition: all 0.2s ease-in-out;
  }

  .oneTrain:last-child {
    border-bottom: none;
  }

  .oneTrain:hover {
    transform: scale(1.02);
    background: #5fc3e4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
  }
  .oneTrainEmpty {
    height: 100px;
    transform: none;
    background: none;
    box-shadow: none;
  }

  .even {
    background: linear-gradient(90deg, #faf0cd -70%, #fab397);
  }
  .svg {
    position: absolute;
    right: 10px;
    bottom: 10px;
    svg {
      width: 18px;
      height: 18px;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    svg:hover {
      transform: scale(1.25);
    }
  }

  .svgFooter {
    position: absolute;
    right: 8px;
    bottom: 7px;
    svg {
      width: 20px;
      height: 20px;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    svg:hover {
      transform: scale(1.25);
    }
  }

  tfoot {
    line-height: 1.5rem;

    text-align: left;
    td {
      padding: 10px 35px 10px 10px;
      border: none;
    }
  }
}
.weekend {
  width: 100%;
  font-size: 1.1rem;
  line-height: 40px;
  background: linear-gradient(90deg, #faf0cd, #fab397);
  margin: 40px 0;
  padding: 40px 20px;
  text-align: center;
  opacity: 0.8;
  border-radius: 20px;

  svg {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  svg:hover {
    transform: scale(1.1);
  }
}
