@import '../../components/UI/variables.scss';

.About {
  margin-top: calc(100vh - 289px);

  .content {
    width: 100%;
    padding: 55px 20px;
    background: linear-gradient(90deg, #faf0cd, #fab397);
    display: grid;
    place-items: center;
    opacity: 0.95;
  }

  h2 {
    position: relative;
    margin-bottom: 30px;
    color: $temptress;
  }

  h2:after {
    content: '';
    display: block;
    height: 2px;
    background: $temptress;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
  }

  p {
    color: $temptress;
    margin-bottom: 20px;
    line-height: 1.2rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .About {
    // margin-top: calc(100vh - 0px);
    margin-top: 50px;
  }
}
