@import '../../components/UI/variables.scss';

.About {
  margin-top: 400px;
  .content {
    width: 100%;
    padding: 45px 40px;
    background: linear-gradient(90deg, #faf0cd, #fab397);
    display: grid;
    place-items: center;
    opacity: 0.95;
  }

  h2 {
    position: relative;
    margin-bottom: 30px;
    color: $temptress;
  }

  h2:after {
    content: '';
    display: block;
    height: 2px;
    background: $temptress;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
  }

  p {
    color: $temptress;
    margin-bottom: 20px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
