@import '../UI/variables.scss';

.Gallery {
  background: rgba(242, 251, 234, 0.6);
  width: 100%;
  margin: 0 auto;
  // margin-top: 50px;
  padding: 20px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .Gallery {
    margin-top: 50px;
  }
}
