.Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Layout main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Layout:after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url(../../assets/mainBack.jpg) center center / cover no-repeat;
  // transform: scale(1);
  filter: blur(3px);
  // background-size: 100% 100% cover;
  // -webkit-animation: head_slide 25s infinite;
  // -moz-animation: head_slide 25s infinite;
  // -o-animation: head_slide 25s infinite;
  // animation: head_slide 25s infinite;
}

// @-webkit-keyframes head_slide {
//   0% {
//     background-size: 100%;
//   }
//   50% {
//     background-size: 105%;
//   }
//   100% {
//     background-size: 100%;
//   }
// }
// @-moz-keyframes head_slide {
//   0% {
//     background-size: 100%;
//   }
//   50% {
//     background-size: 105%;
//   }
//   100% {
//     background-size: 100%;
//   }
// }
// @keyframes head_slide {
//   0% {
//     background-size: 100%;
//   }
//   50% {
//     background-size: 105%;
//   }
//   100% {
//     background-size: 100%;
//   }
// }
// @keyframes head_slide {
//   0% {
//     background-size: 100%;
//   }
//   50% {
//     background-size: 105%;
//   }
//   100% {
//     background-size: 100%;
//   }
// }

// @media (max-width: 767px) {
//   @-webkit-keyframes head_slide {
//     0% {
//       background-size: 100% cover;
//     }
//     50% {
//       background-size: 105% cover;
//     }
//     100% {
//       background-size: 100% cover;
//     }
//   }
//   @-moz-keyframes head_slide {
//     0% {
//       background-size: 100% cover;
//     }
//     50% {
//       background-size: 105% cover;
//     }
//     100% {
//       background-size: 100% cover;
//     }
//   }
//   @keyframes head_slide {
//     0% {
//       background-size: 100% cover;
//     }
//     50% {
//       background-size: 105% cover;
//     }
//     100% {
//       background-size: 100% cover;
//     }
//   }
//   @keyframes head_slide {
//     0% {
//       background-size: 100% cover;
//     }
//     50% {
//       background-size: 105% cover;
//     }
//     100% {
//       background-size: 100% cover;
//     }
//   }
// }
