.Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Layout main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Layout:after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url(../../assets/mainBack.jpg) center center / cover no-repeat;
  filter: blur(3px);
}
