@import '../UI/variables.scss';

.Footer {
  padding: 40px 0;
  width: 100wh;
  background: linear-gradient(90deg, #faf0cd, #fab397);

  .content {
    display: grid;
    place-items: center;
  }

  h2 {
    position: relative;
    // margin-bottom: 30px;
    color: $temptress;
  }

  h2:after {
    content: '';
    display: block;
    height: 2px;
    background: $temptress;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
  }

  p {
    margin-bottom: 0.1em;
  }

  ul > li {
    display: inline-block;
    padding: 0 10px;
  }
}
