@import '../../UI/variables.scss';

.TeacherItem {
  max-width: 200px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  // border: 1px solid black;

  .img {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 180px;
    margin-bottom: 20px;

    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    }
  }

  .name {
    position: relative;
    margin-bottom: 30px;
    color: $temptress;
    text-transform: uppercase;
  }

  .name:after {
    content: '';
    display: block;
    height: 2px;
    background: $temptress;
    position: absolute;
    top: 30px;
    left: 40px;
    right: 40px;
  }

  p {
    padding: 5px 0;
  }
}
