.iframe {
  iframe {
    padding-bottom: 50px;
    width: 100%;
    min-height: 500px;
    border: none;
  }
}

@media (max-width: 1180px) {
  .iframe {
    iframe {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
