@import '../UI/variables.scss';

.Contacts {
  .content {
    width: 100%;
    background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    display: grid;
    place-items: center;
    padding: 55px 20px;
    opacity: 0.95;
  }

  h2 {
    position: relative;
    margin-bottom: 30px;
    color: $temptress;
  }

  h2:after {
    content: '';
    display: block;
    height: 2px;
    background: $temptress;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
  }

  .shambala {
    text-transform: uppercase;
    color: mailto;
  }

  span {
    color: $temptress;
    padding: 5px 0;

    a {
      color: $temptress;
    }

    a:hover {
      color: $armadillo;
    }
  }
}

.iframe {
  iframe {
    padding: 50px 0;
    width: 100%;
    min-height: 500px;
    border: none;
  }
}

@media (max-width: 1180px) {
  .iframe {
    iframe {
      padding: 50px 10px;
    }
  }
}
