.NotFound {
  min-width: 300px;
  min-height: 200px;
  border: 2px solid red;
  margin: 0 auto;
  color: red;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
